name: CD - Build & Publish Docker Images

on:
  push:
    branches:
      - main

jobs:
  docker:
    name: Build & Push Images
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # ===============================
      # Auth Service
      # ===============================
      - name: Build & Push auth-service
        uses: docker/build-push-action@v5
        with:
          context: ./auth-service
          file: ./auth-service/Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/auth-service:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/auth-service:${{ github.sha }}

      # ===============================
      # Web Client
      # ===============================
      - name: Build & Push web-client
        uses: docker/build-push-action@v5
        with:
          context: ./web-client
          file: ./web-client/Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/web-client:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/web-client:${{ github.sha }}